/*the main stylesheet for the project*/
 label {
    cursor: pointer;
    display: inline-block;
    padding: 3px 6px;
    text-align:right;
    width: 150px;
    vertical-align: top;

}

input{
    font-size:inherit;
    
} 


/*feel free to edit, just testing out things.
/*This code aligns the textboxes but im still trying to figure out how to get the wording on the add admin
/* To align with properly
